.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 80%;
  margin: 5% auto;
}
h1{
  font-size: 1.8rem;
  margin: 5%;
}
button{
width: 10%;
text-align: center;
margin: 1%;
}